body{
    width: 100%;
    height: 100%;
    margin: 0px;
}
#total{
    background-color:white;
    width:850px;
    height:450px;
    margin: 50px auto;
}
#welcome{
    width: 200px;
    height: 30px;
    background-color: #DEB887;
    text-align: center;
    border-radius:5px;
    margin: 0px auto;
    box-shadow: 0px 0px 10px black;
    font-size: 20px;
}
#qipan{
    width:450px ;
    height:450px ;
    background-color:#FAEBD7 ;
    margin: 0px 100px;
    float: left;
    box-shadow: 0px 0px 30px black;
}
.qibox{
    width:30px ;
    height: 30px;
    float: left;
    background-color: #DEB887;
}
.playerBox{
    width: 100px;
    height: 30px;
    padding-top: 7px;
    font-size: 17px;
    float: left;
    border-radius:10px;
    margin: 200px 0px;
    box-shadow: 0px 0px 10px black;
    text-align: center;
    opacity: 0;
    transition: opacity 500ms;
}
#blackP{
    background-color:black; 
    color: white;
}
#whiteP{
    background-color:white; 
    color: black;
}
.black{
    width: 20px;
    height: 20px;
    margin: 5px 5px;
    border-radius:10px;
    background-color:black; 
    position: absolute;
    z-index: 3;
}
.white{
    width: 20px;
    height: 20px;
    margin: 5px 5px;
    border-radius:10px;
    background-color:white;
    position: absolute;
    z-index: 3; 
}
.tline{
    display: block;
    height:30px;
    width: 2px;
    margin:auto 14px;
    background-color: black;
    position: absolute;
    z-index: 2;
}
.dline{
    display: block;
    height:2px;
    width: 30px;
    margin: 14px auto;
    background-color: black;
    position: absolute;
    z-index: 1;
}